.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
}

.charts-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr; /* left big, right small */
  gap: 24px;
  margin: 2.5rem 2rem;
  margin-top: 60px;
}

.chart-card {
  background: #ffffff;
  border-radius: 12px;
  padding: 16px 20px;
  box-shadow: var(--shadow);
  overflow: hidden; 
}

/* Left chart */
.chart-card.large {
  height: 450px;
}

/* Right chart */
.chart-card.small {
  height: 450px;
}

.dashboard-container {
  padding-bottom: 1rem;
}
